<?xml version="1.0" encoding="UTF-8"?>

<configuration>

  <include resource="org/springframework/boot/logging/logback/defaults.xml" />
  <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

  <appender name="AUDIT" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <File>${IAM_LOG_PATH:=/var/log/iam}/iam-audit.log</File>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${IAM_LOG_PATH:-/var/log/iam}/iam-audit-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <appender name="SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">

    <File>${IAM_LOG_PATH:-/var/log/iam}/iam-service.log</File>

    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <FileNamePattern>${IAM_LOG_PATH:-/var/log/iam}/iam-service-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
    </rollingPolicy>

    <encoder>
      <pattern>${FILE_LOG_PATTERN}</pattern>
    </encoder>
  </appender>

  <logger name="AUDIT" additivity="false" level="INFO">
    <appender-ref ref="AUDIT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
    <appender-ref ref="SERVICE" />
  </root>
</configuration>