<div class="modal-header">
    <h3 class="modal-title">Remove OpenID Connect account from <strong>{{$ctrl.user.name.formatted}}</strong>?</h3>
</div>
<div class="modal-body">
    <p>
        The following OpenID Connect account will be removed from <strong>{{$ctrl.user.name.formatted}}</strong> account:
    </p>

    <dl>
        <dt>OpenID provider issuer</dt>
        <dd>{{$ctrl.account.issuer}}</dd>
        <dt>OpenID provider subject</dt>
        <dd>{{$ctrl.account.subject}}</dd>
    </dl>
    <p>
        Login with the above linked OpenID Connect account will not be possible for user <strong>{{$ctrl.user.name.formatted}}</strong> if you proceed.
    </p>
</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" id="modal-btn-confirm" ng-disabled="!$ctrl.enabled" ng-click="$ctrl.doRemove()">Remove OpenID Connect account</button>
    <button class="btn btn-danger" type="button" id="modal-btn-cancel" ng-click="$ctrl.cancel()">Cancel</button>
</div>