<div class="modal-header">
	<h3 class="modal-title">
		Add group(s) to <strong>{{addGroupCtrl.user.name.formatted}}</strong>
	</h3>
	<uib-progressbar animate="true" class="progress-striped active"
		max="100" value="addGroupCtrl.loadingGroupsProgress" type="danger" ng-show="addGroupCtrl.loadingGroupsProgress < 100">
	<i>{{addGroupCtrl.loadingGroupsProgress}} / 100</i></uib-progressbar>
</div>
<div class="modal-body" ng-disabled="addGroupCtrl.loadingGroupsProgress < 100">


	<ui-select multiple ng-model="addGroupCtrl.groupsSelected"
		theme="bootstrap" sortable="true"
		close-on-select="false" style="width: 100%;"> <ui-select-match
		placeholder="Select group...">{{$item.displayName}}</ui-select-match>
	<ui-select-choices
		repeat="group in addGroupCtrl.oGroups | filter: {displayName: $select.search}">
	<div ng-bind-html="group.displayName | highlight: $select.search"></div>
	</ui-select-choices> <ui-select-no-choice> No results found </ui-select-no-choice> </ui-select>

	<div class="row">
		<div class="col-xs-12">
			<operationresult/>
		</div>
	</div>

</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" name="modal-btn-confirm"
		ng-click="addGroupCtrl.addGroup()"
		ng-disabled="!addGroupCtrl.enabled || addGroupCtrl.groupsSelected.length == 0">Add Group</button>
	<button class="btn btn-danger" type="button" name="modal-btn-cancel"
		ng-click="addGroupCtrl.cancel()">Cancel</button>
</div>