<script type="text/ng-template" id="result-template.html">
<a>
  <span ng-bind-html="match.model.displayName | uibTypeaheadHighlight:query"> </span>
</a>
</script>

<div class="modal-header">
	<h3 class="modal-title">Select the group to add</h3>
</div>
<div class="modal-body">
	<div class="alert alert-info" role="alert"
		ng-show="ctrl.groupSelected != null">
		You selected:<br> <strong><span>{{ctrl.groupSelected.displayName}}</span></strong>
	</div>
	<input type="text" ng-model="ctrl.groupSelected"
		placeholder="Search for your Group..."
		uib-typeahead="group as group.displayName for group in ctrl.oGroups"
		typeahead-loading="loadingGroups" typeahead-no-results="noResults"
		typeahead-min-length="0" typeahead-template-url="result-template.html"
		autofocus="autofocus" class="form-control"> <i
		ng-show="loadingGroups" class="glyphicon glyphicon-refresh"></i>
	<div ng-show="noResults">
		<i class="glyphicon glyphicon-remove"></i> No Results Found
	</div>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="ctrl.addGroup()"
		ng-disabled="ctrl.groupSelected == null">Add Group</button>
	<button class="btn btn-warning" type="button" ng-click="ctrl.cancel()">Cancel</button>
</div>