<!-- Logo -->
<a href="" ng-click="$root.reload()" class="logo"><b>INDIGO</b> IAM</a>
<!-- Header Navbar: style can be found in header.less -->
<nav class="navbar navbar-static-top" role="navigation">
	<!-- Sidebar toggle button-->
	<a href="#" class="sidebar-toggle" data-toggle="offcanvas"
		role="button"> <span class="sr-only">Toggle navigation</span>
	</a>
	<!-- Navbar Right Menu -->
	<div class="navbar-custom-menu">
		<ul class="nav navbar-nav">
<!-- 			<li ng-show="online" class="dropdown"><a href="" class="success"><i -->
<!-- 					class="fa fa-link"></i><span class="label label-success">ONLINE</span></a></li> -->
<!-- 			<li ng-show="!online" class="dropdown"><a href="" class="danger"><i -->
<!-- 					class="fa fa-unlink"></i><span class="label label-danger">OFFLINE</span></a></li> -->
			<!-- Notifications: style can be found in dropdown.less -->
			<li class="dropdown notifications-menu" uib-dropdown
				ng-show="$root.loggedUser.isAdmin && $root.isRegistrationEnabled"><a href=""
				class="dropdown-toggle" uib-dropdown-toggle> <i
					class="fa fa-bell-o"></i> <span class="label label-warning"
					ng-show="$root.loggedUser.pendingRequests.length">{{$root.loggedUser.pendingRequests.length}}</span>
			</a>
				<ul class="dropdown-menu">
					<li class="header">You have
						{{$root.loggedUser.pendingRequests.length}} notifications</li>
					<li>
						<ul class="menu">
							<li
								ng-repeat="req in $root.loggedUser.pendingRequests | orderBy:creationTime:true ">
								<a ui-sref="requests"> <i class="fa fa-user text-aqua"></i>
									{{req.username}} registration request
							</a>
							</li>
						</ul>
					</li>
					<li class="footer"><a ui-sref="requests">View all</a></li>
				</ul></li>

			<!-- User Account: style can be found in dropdown.less -->
			<li class="dropdown user user-menu" uib-dropdown><a href=""
				class="dropdown-toggle" uib-dropdown-toggle> <img
					ng-src="{{$root.loggedUser.me.photos ? $root.loggedUser.me.photos[0].value : 'resources/iam/img/default-avatar.png'}}"
					class="user-image" alt="User Image" /> <span class="hidden-xs">{{$root.loggedUser.me.name.formatted}}</span>
			</a>
				<ul class="dropdown-menu">
					<!-- User image -->
					<li class="user-header"><img
						ng-src="{{$root.loggedUser.me.photos ? $root.loggedUser.me.photos[0].value : 'resources/iam/img/default-avatar.png'}}"
						class="img-circle" alt="User Image" />
						<p>
							{{$root.loggedUser.me.name.formatted}}<br /> <small>{{$root.loggedUser.me.userName}}
								@ {{$root.loggedUser.info.organisation_name}}</small>
						</p></li>
					<!-- Menu Footer-->
					<li class="user-footer">
						<div class="pull-left">
							<a ui-sref="home" class="btn btn-default btn-flat">Profile</a>
						</div>
						<div class="pull-right">
							<a href="/logout" class="btn btn-default btn-flat">Sign out</a>
						</div>
					</li>
				</ul></li>
		</ul>
	</div>
</nav>
