<!-- Reset password -->
<button 
    class="btn btn-success btn-block"
    style="margin-top: 5px" 
    ng-click="$ctrl.openResetPasswordModal()" 
    ng-enabled="$ctrl.enabled" 
    name="reset-password-btn" ng-if="! $ctrl.isMe()">
    <i class="fa fa-key"></i> <strong>Reset Password</strong>
</button>

 <button 
    class="btn btn-success btn-block"
    style="margin-top: 5px" 
    ng-click="$ctrl.openEditPasswordModal()" 
    name="change-password-btn" ng-if="$ctrl.isMe()">
    <i class="fa fa-key"></i>
    <strong>Change Password</strong>
</button>
