<!-- Current Active Refresh Tokens Box -->
<div class="box box-primary" id="refresh-tokens-list">
    <div class="box-header with-border">

        <div class="row">
            <div class="col-md-5">
                <ui-select ng-model="$ctrl.clientSelected" theme="bootstrap" sortable="true" close-on-select="true" input-id="search-client" style="width: 100%;" on-select="$ctrl.searchTokens()">
                    <ui-select-match allow-clear="true" placeholder="Filter client...">{{$ctrl.clientSelected.clientId}}</ui-select-match>
                    <ui-select-choices repeat="client in $ctrl.clients | filter: {clientId: $select.search}">
                        <div ng-bind-html="client.clientId | highlight: $select.search"></div>
                        <small> {{ client.clientName }} </small>
                    </ui-select-choices>
                    <ui-select-no-choice> No results found </ui-select-no-choice>
                </ui-select>
            </div>
           <div class="col-md-5">
                <ui-select ng-model="$ctrl.userSelected" theme="bootstrap" sortable="true" close-on-select="true" input-id="search-user" style="width: 100%;" on-select="$ctrl.searchTokens()">
                    <ui-select-match allow-clear="true" placeholder="Filter user...">{{$ctrl.userSelected.name.formatted}}</ui-select-match>
                    <ui-select-choices repeat="user in $ctrl.users | filter: {userName: $select.search}">
                        <div ng-bind-html="user.userName | highlight: $select.search"></div>
                        <small>{{ user.id }}</small>
                    </ui-select-choices>
                    <ui-select-no-choice> No results found </ui-select-no-choice>
                </ui-select>
            </div>
            <div class="col-md-2 text-right">
                <button class="btn btn-default" ng-click="$ctrl.searchTokens()"><i class="fa fa-refresh"></i></button>
            </div>
       </div>
    </div>
    <div class="box-body">
        <div ng-if="!$ctrl.tokens.length">No active refresh-tokens found</div>
        <div class="table-responsive" ng-if="$ctrl.tokens.length">

	       <div class="text-center">
	            <ul uib-pagination
	                ng-model="$ctrl.currentPage" 
	                items-per-page="$ctrl.itemsPerPage"
	                total-items="$ctrl.tokens.length"
	                max-size="5"
	                boundary-links="true">
	            </ul>
	        </div>

            <table class="table no-margin table-striped" id="tokenslist">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Client</th>
                        <th>User</th>
                        <th>Value</th>
                        <th>Expires at</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="token in $ctrl.tokens | orderBy:'id' | startFrom:($ctrl.currentPage-1)*$ctrl.itemsPerPage | limitTo:$ctrl.itemsPerPage">

                        <td class="align-middle" id="{{token.id}}">
                            <h5>{{$index + ($ctrl.currentPage-1)*$ctrl.itemsPerPage + 1}}</h5>
                        </td>
                        <td class="align-middle">
                            <h5><a ui-sref="client({id: token.client.id})">{{token.client.clientId}}</a></h5>
                        </td>
                        <td class="align-middle" ng-if="token.user != null">
                            <a ui-sref="user({id: token.user.id})">{{token.user.userName}}</a>
                            <br/>
                            <small>{{token.user.id}}</small>
                        </td>
                        <td class="align-middle" ng-if="token.user == null">
                            <h5><small><i>This is a client specific token, not bound to a user.</i></small></h5>
                        </td>
                        <td class="align-middle">
                            <div class="input-group ">
                                <input id="token_value" type="text" class="form-control" size=40 value="{{token.value}}" readonly />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" title="Copy to Clipboard" ng-click="$ctrl.copyToClipboard(token.value)"><i class="fa fa-clipboard"></i></button>
                                </span>
                            </div>
                        </td>
                        <td class="align-middle">
                            <h5>{{token.expiration | relativeDate}}</h5>
                        </td>
                        <td class="align-middle text-right">
                            <button class="btn btn-xs btn-danger" ng-click="$ctrl.openRevokeRefreshTokenDialog(token)">
                                <i class="fa fa-times"></i> Revoke
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="text-center">
	            <ul uib-pagination
	                ng-model="$ctrl.currentPage" 
	                items-per-page="$ctrl.itemsPerPage"
	                total-items="$ctrl.tokens.length"
	                max-size="5"
	                boundary-links="true">
	            </ul>
	        </div>
        </div>
    </div>
    <div class="box-footer">

    </div>
</div>