<div class="modal-header">
    <h3 class="modal-title">Add new group</h3>
</div>
<div class="modal-body">

    <div class="form-group">
        <label>Name</label>
        <input id="name" class="form-control" type="text" placeholder="Insert group name ..." ng-model="addGroupCtrl.group.displayName">
    </div>

	<div class="row">
		<div class="col-xs-12">
			<operationresult />
		</div>
	</div>

</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" id="modal-btn-confirm"
       ng-disabled="!addGroupCtrl.group.displayName || !addGroupCtrl.enabled"
       ng-click="addGroupCtrl.addGroup()">Add Group</button>
    <button class="btn btn-warning" type="button" id="modal-btn-cancel"
        ng-click="addGroupCtrl.cancel()">Cancel</button>
</div>