<div class="modal-header">
    <h3 class="modal-title" ng-show="$ctrl.action == 'link'">
        Link an X.509 certificate to your IAM account?
    </h3>
    <h3 class="modal-title" ng-show="$ctrl.action == 'unlink'">
        Unlink X.509 certificate from your IAM account?
    </h3>
</div>
<div class="modal-body">
    <div ng-show="$ctrl.action == 'link'">
        <p class="text-justify text-wrapped">
            The following trusted X.509 certificate was presented when
            authenticating to this IAM instance:
        </p>
        
        <p>
            <div class="subjectDn">{{$ctrl.cert.subjectDn}}</div>
            <div class="issuerDn">{{$ctrl.cert.issuerDn}}</div>
        </p>

        <p class="text-justify text-wrapped">
            Do you want to link this certificate to your account?
            This will allow you to log into the IAM with such certificate.
        </p>
        

    </div>
    <div ng-show="$ctrl.action == 'unlink'">
        <p class="text-justify text-wrapped">
            Do you want to unlink the following X.509 certificate from your IAM account?
        </p>
        <p>
            <div class="subjectDn">{{$ctrl.cert.subjectDn}}</div>
            <div class="issuerDn">{{$ctrl.cert.issuerDn}}</div>
        </p>
        <p class="text-justify text-wrapped">
                You will not <strong>NOT</strong> able to login into the IAM with such certificate if you proceed.
            </p>
        </p>
    </div>
</div>
<div class="modal-footer">
    
    <form id="link-certificate-form" action="{{$ctrl.actionUrl}}" method="post" ng-if="$ctrl.action == 'link'">
        <button class="btn btn-primary" id="btn-link" data-dismiss="modal" type="button" data-ng-click="$ctrl.doLink()" ng-disabled="!$ctrl.enabled">Link</button>
        <button class="btn btn-danger" id="btn-cancel" data-dismiss="modal" type="button" data-ng-click="$ctrl.cancel()">Cancel</button>
    </form>

    <div ng-if="$ctrl.action == 'unlink'">
        <button class="btn btn-primary" id="btn-unlink" data-dismiss="modal" type="button" data-ng-click="$ctrl.doUnlink()" ng-disabled="!$ctrl.enabled">Unlink</button>
        <button class="btn btn-danger" id="btn-cancel" data-dismiss="modal" type="button" data-ng-click="$ctrl.cancel()">Cancel</button>
    </div>
</div>