<!-- X.509 certs box -->
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>X.509 certificates</strong></h3>
        <i class="fa fa-id-card-o pull-right"></i>
    </div>

    <div class="box-body">
        <div ng-if="!$ctrl.hasCertificates()">No certificates found</div>

        <div class="table-responsive" ng-if="$ctrl.hasCertificates()">
            <table class="table no-margin" id="x509_cert_list">
                <thead>
                    <tr>
                        <th>Subject &amp; Issuer</th>
                        <th>Last modified</th>
                        <th class="text-right"></th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="cert in $ctrl.getCertificates()">
                        <td>
                            <div class="subjectDn">{{ cert.subjectDn }}</div>
                            <div class="issuerDn">{{ cert.issuerDn }}</div>
                        </td>
                        <td>{{ cert.lastModified | relativeDate }}</td>

                        <td class="text-right">
                            <div class="btn-group">
                                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.openRemoveCertificateDialog(cert)" ng-if="$ctrl.isVoAdmin() && !$ctrl.isMe()">
                                        <i class="fa fa-times"></i> Remove
                                    </button>
                                    <button class="btn btn-xs btn-danger" ng-click="$ctrl.openUnlinkCertificateDialog(cert)" ng-if="$ctrl.isMe()">
                                        <i class="fa fa-times"></i> Unlink
                                    </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="box-footer">
        <button class="btn btn-success btn-sm" name="btn-add-cert" ng-click="$ctrl.openAddCertificateDialog()" ng-if="$ctrl.isVoAdmin() && !$ctrl.isMe()">
            <i class="fa fa-plus"></i> Add certificate
        </button>
        <button class="btn btn-success btn-sm" name="btn-link-cert" ng-click="$ctrl.openLinkCertificateDialog()" ng-if="$ctrl.isMe() && $ctrl.getUserCertSubject()">
            <i class="fa fa-plus"></i> Link certificate
        </button>
    </div>
</div>