[Unit]
Description=INDIGO IAM Service
After=syslog.target network.target

[Service]
EnvironmentFile=/etc/sysconfig/iam-login-service
WorkingDirectory=/etc/iam-login-service
ExecStart=/usr/bin/java $IAM_JAVA_OPTS -jar /var/lib/indigo/iam-login-service/iam-login-service.war
KillMode=process
User=iam

[Install]
WantedBy=multi-user.target
