<!-- Content Header (Page header) -user-image -->
<section class="content-header">
  <h1><strong>{{user.name.formatted}}</strong></h1>
  <ol class="breadcrumb">
    <li><a ui-sref="home"><i class="fa fa-home"></i> {{user.name.formatted}}</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content" ng-cloak>

  <div class="row">
    <div class="col-xs-12">
      <operationresult />
    </div>
  </div>

  <div class="row" ng-show="home.loaded">

    <!-- User info column -->
    <div class="col-md-3">

      <div class="box box-primary">
        <div class="box-body">

          <!-- $scope.user = SCIM User -->
          <userinfobox ng-cloak />

        </div>
        <div class="box-footer">
          <button class="btn btn-primary btn-block" ng-click="home.openEditUserDialog()" ng-disabled="home.isEditUserDisabled" name="edit-user-btn">
            <i class="fa fa-pencil"></i>
            <strong>Edit Details</strong>
          </button>
          <button class="btn btn-success btn-block" ng-click="home.openEditPasswordDialog()" name="change-password-btn">
            <i class="fa fa-key"></i>
            <strong>Change Password</strong>
          </button>
        </div>
      </div>

    <!-- End of User info column -->
    </div>

    <!-- User credentials column -->
    <div class="col-md-9">

      <!-- Groups Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            <strong>Groups</strong>
          </h3>
          <i class="fa fa-users pull-right"></i>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div ng-show="!user.groups.length">No groups found</div>
          <div class="table-responsive" ng-show="user.groups.length">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Name</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="group in user.groups | orderBy:'display' ">
                  <td>{{$index + 1}}</td>
                  <td><a>{{group.display}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>


      <!-- OidcIds Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            <strong> OpenID Connect Accounts</strong>
          </h3>
          <i class="fa fa-lock pull-right"></i>
        </div>
        <!-- /.box-header -->

        <div class="box-body">
          <div ng-show="!user['urn:indigo-dc:scim:schemas:IndigoUser'].oidcIds">No Open ID Connect accounts found</div>
          <div class="table-responsive" ng-show="user['urn:indigo-dc:scim:schemas:IndigoUser'].oidcIds">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Issuer</th>
                  <th>Subject</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="oidcId in user['urn:indigo-dc:scim:schemas:IndigoUser'].oidcIds">
                  <td>{{$index + 1}}</td>
                  <td>{{ oidcId.issuer }}</td>
                  <td>{{ oidcId.subject }}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-xs btn-danger" ng-click="home.unlinkOidcAccount(oidcId)">
                        <i class="fa fa-times"></i> Unlink
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        
        <div class="box-footer" ng-show="!user['urn:indigo-dc:scim:schemas:IndigoUser'].oidcIds || user['urn:indigo-dc:scim:schemas:IndigoUser'].oidcIds.length == 0">
          <button class="btn btn-danger btn-xs" name="btn-add-oidc" ng-click="home.linkOidcAccount()">
            <i class="fa fa-google"></i> Link Google account
          </button>
        </div>
      </div>

      <!-- samlIds Box -->
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">
            <strong>Saml IDs</strong>
          </h3>
          <i class="fa fa-cloud pull-right"></i>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div ng-show="!user['urn:indigo-dc:scim:schemas:IndigoUser'].samlIds">No SAML Id found</div>
          <div class="table-responsive" ng-show="user['urn:indigo-dc:scim:schemas:IndigoUser'].samlIds">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Identity Provider</th>
                  <th>User ID</th>
                  <th class="text-right">Actions</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="samlId in user['urn:indigo-dc:scim:schemas:IndigoUser'].samlIds">
                  <td>{{$index + 1}}</td>
                  <td>{{samlId.idpId}}</td>
                  <td>{{samlId.userId}}</td>
                  <td class="text-right">
                    <div class="btn-group">
                      <button class="btn btn-xs btn-danger" ng-click="home.unlinkSamlAccount(oidcId)">
                        <i class="fa fa-times"></i> Unlink
                      </button>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
         <div class="box-footer">
          <button class="btn btn-success btn-xs" name="btn-add-saml" ng-click="home.openLinkSamlAccountDialog()">
            <i class="fa fa-plus"></i> Link SAML account
          </button>
        </div>
      </div>

      <!-- sshKeys Box -->
      <div class="box box-primary hidden">
        <div class="box-header with-border">
          <h3 class="box-title">
            <strong>SSH keys</strong>
          </h3>
          <i class="fa fa-key pull-right"></i>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div ng-show="!user['urn:indigo-dc:scim:schemas:IndigoUser'].sshKeys">No SSH Key found</div>
          <div class="table-responsive" ng-show="user['urn:indigo-dc:scim:schemas:IndigoUser'].sshKeys">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Label</th>
                  <th>Fingerprint</th>
                  <th>Primary</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="sshKey in user['urn:indigo-dc:scim:schemas:IndigoUser'].sshKeys">
                  <td>{{$index + 1}}</td>
                  <td>{{sshKey.display}}</td>
                  <td><a href='' ng-click="home.showSshKeyValue(sshKey.value)">{{sshKey.fingerprint}}</a></td>
                  <td><span ng-show="sshKey.primary" class="label label-success">primary</span></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!-- x509 Certificates Box -->
      <div class="box box-primary hidden">
        <div class="box-header with-border">
          <h3 class="box-title">
            <strong>x509 Certificates</strong>
          </h3>
          <i class="fa fa-user-secret pull-right"></i>
        </div>
        <!-- /.box-header -->
        <div class="box-body">

          <div ng-show="!user.x509Certificates">No x509 Certificate found</div>
          <div class="table-responsive" ng-show="user.x509Certificates">
            <table class="table no-margin">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Label</th>
                  <th>Primary</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="cert in user.x509Certificates">
                  <td>{{$index + 1}}</td>
                  <td>{{ cert.display }}</td>
                  <td><span ng-show="cert.primary" class="label label-success">primary</span></td>
                  <td><a ng-click=home.showCertValue(cert)>{{cert.value | limitTo : 30 : 0}}...</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>


</section>