/*
 * Overlay this file to provide local style overrides.
 */
 
.absolute-center {
  margin: auto;
  position: relative;
  top: 100; left: 0; bottom: 0; right: 0;
}

.absolute-center.is-responsive {
  width: 50%; 
  height: 50%;
  min-width: 200px;
  max-width: 400px;
  padding: 40px;
}

#logo-container{
  margin: auto;
  margin-bottom: 10px;
  width:200px;
  height:150px;
  background-size: 200px;
  background-image:url("/resources/images/indigo-logo.png");
  background-repeat: no-repeat;
}

#external-authn {
  text-align: center;
  margin-top: 2em;
}

#external-authn .btn {
  margin-top: 10px;
}

#registration{
  text-align: center;
  margin-top: 2em;
}

.btn-google {
  text-align: center !important;
}
.social-authn {
  text-align: center;
}

#login-form {
  margin-bottom: 0;
}

.text-wrapped {
  word-break: break-all;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.profile-user-img {
  background-position: center center;
  background-repeat: no-repeat;
}

.footer {
  height:48px; /* Replace with the height your footer should be */
  width: 100%; /* Don't change */
  background-color: #fff;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  color: #444;
  border-top: 1px solid #d2d6de;
  z-index: 820;
}

.footer_contents {
  height:48px; /* Replace with the height your footer should be */
  width: 100%; /* Visible width of footer */
  margin:auto;
  padding: 15px;
}

.footer-indigo-logo {
  margin: 0px;
  margin-top: -7px;
  margin-right: 5px;
  padding: 0px;
  width: 30px;
}

aside {
  background: #222d32;
  height: 100%;
}

body.skin-blue {
  background-color: #222d32;
}

.content-wrapper {
  padding-bottom: 48px;
  background-color: #ecf0f5;
}