<div class="generic-container">
	<div class="panel panel-default">
		<div class="panel-heading">
			<span class="lead">Forgot Your Password?</span>
		</div>
		
		<div>
			<div class="alert alert-success" ng-show="showSuccessAlert">
				<button type="button" class="close"
					data-ng-click="switchBool('showSuccessAlert')">&times;</button>
				<strong>Done!</strong> {{textAlert}}
			</div>
		</div>

		<div>
			<div class="alert alert-danger" ng-show="showErrorAlert">
				<button type="button" class="close"
					data-ng-click="switchBool('showErrorAlert')">&times;</button>
				<strong>Error!</strong> {{textAlert}}
			</div>
		</div>
		
		<div class="formcontainer">
			<p>
				Please enter the email address for your IAM account.
				A verification code will be sent to you. Once you have received the 
				code, you'll be able to set your new password.
			</p>
		
			<form ng-submit="submit()" name="forgotPasswordForm" id="forgotPasswordForm" class="form-horizontal">

				<div class="row">
					<div class="form-group col-md-12">
						<label class="col-md-2 control-lable" for="email">Email</label>
						<div class="col-md-7">
							<input type="email" ng-model="email"
								id="email" class="email form-control input-sm"
								placeholder="Email" required />
							<div class="has-error" ng-show="registrationForm.$dirty">
								<span ng-show="forgotPasswordForm.email.$error.required">This is a required field</span> 
								<span ng-show="forgotPasswordForm.email.$invalid">This field is invalid </span>
							</div>
						</div>
					</div>
				</div>

				<div class="row">
					<div class="form-actions floatRight">
						<input type="submit" value="Send" class="btn btn-primary btn-sm" ng-disabled="forgotPasswordForm.$invalid">
						<button type="button" ng-click="dismiss()" class="btn btn-danger btn-sm">Cancel</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
