<div class="modal-header">
    <h3 class="modal-title">Unlink SAML account?</h3>
</div>
<div class="modal-body">
    <p>
        The following SAML account will be unlinked from your account:
    </p>

    <dl>
        <dt>IDP entity ID</dt>
        <dd>{{$ctrl.account.idpId}}</dd>
        <dt>SAML attribute ID</dt>
        <dd>{{$ctrl.account.attributeId}}</dd>
        <dt>SAML attribute value</dt>
        <dd>{{$ctrl.account.userId}}</dd>
    </dl>
    <p>
        Login with the above linked SAML account will not be possible if you proceed.
    </p>
    
    <div ng-if="$ctrl.error">
        {{$ctrl.error.statusText}}
    </div>
</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" id="modal-btn-confirm" ng-disabled="!$ctrl.enabled" ng-click="$ctrl.doUnlink()">Unlink SAML account</button>

    <button class="btn btn-danger" type="button" id="modal-btn-cancel" ng-click="$ctrl.cancel()">Cancel</button>
</div>