<div class="modal-header">
    <h3 class="modal-title">Remove SAML account from <strong>{{$ctrl.user.name.formatted}}</strong>?</h3>
</div>
<div class="modal-body">
    <p>
        The following SAML account will be removed from <strong>{{$ctrl.user.name.formatted}}</strong> account:
    </p>

    <dl>
        <dt>IDP entity ID</dt>
        <dd>{{$ctrl.samlId.idpId}}</dd>
        <dt>SAML attribute ID</dt>
        <dd>{{$ctrl.samlId.attributeId}}</dd>
        <dt>SAML attribute value</dt>
        <dd>{{$ctrl.samlId.userId}}</dd>
    </dl>
    <p>
        Login with the above linked SAML account will not be possible for user <strong>{{$ctrl.user.name.formatted}}</strong>        if you proceed.
    </p>
</div>

</div>

<div class="modal-footer">
    <button class="btn btn-primary" type="button" id="modal-btn-confirm" ng-disabled="!$ctrl.enabled" ng-click="$ctrl.doRemove()">Remove SAML account</button>

    <button class="btn btn-danger" type="button" id="modal-btn-cancel" ng-click="$ctrl.cancel()">Cancel</button>
</div>