The following user has confirmed his membership request:

---------------------
Name:
Username:
Email:
---------------------

	
As Indigo administrator, approve or reject this request.

The Indigo-DC Team