The following user has confirmed his membership request:

---------------------
Name: $name
Username: $username
Email: $email
---------------------

	
As Indigo administrator, approve or reject this request.

The Indigo-DC Team