Dear $recipient,

your membership request for $organisationName has been REJECTED.

#if( $motivation )
The administrator has provided the following motivation in support of
his decision:

$motivation
#end

The $organisationName registration service
