Dear $recipient,

Follow this link to set a new password for your $organisationName account:

$resetPasswordUrl

After updating the password, you can login into IAM with the username: $username

The $organisationName registration service
