<section class="content-header">
	<h1>
		<i class="fa fa-sign-in"></i>&nbsp;&nbsp;Requests
	</h1>
	<ol class="breadcrumb">
		<li><a ui-sref="requests"><i class="fa fa-sign-in"></i>
				Requests</a></li>
		<li><a ui-sref="requests"><i class="fa fa-list"></i> List of
				pending requests</a></li>
	</ol>
</section>

<section class="content" ng-init="ctrl.init()" ng-cloak
	style="min-height: 650px;">

	<div class="row">
		<div class="col-xs-12">

			<div ng-show="ctrl.operationResult != null">
				<div class="alert"
					ng-class="{'alert-success': ctrl.operationResult=='ok', 'alert-danger': ctrl.operationResult=='err'}">
					<button class="close" ng-click="ctrl.operationResult=null"
						aria-label="close">&times;</button>
					{{ctrl.textAlert}}
				</div>
			</div>

			<div class="alert alert-info" ng-show="!ctrl.list.length">
				<h4>
					<i class="icon fa fa-info"></i> No pending requests found!
				</h4>
			</div>

		</div>
		<div class="col-xs-12">

			<div class="box">
				<div class="box-header with-border"></div>
				<div class="box-body">

					<div class="text-center">
						<ul uib-pagination ng-model="ctrl.currentPage"
							items-per-page="ctrl.numPerPage" total-items="ctrl.list.length"
							max-size="10" boundary-links="true"></ul>
					</div>
					<table id="requestslist" class="table table-striped">
						<thead>
							<th></th>
							<th>Created at</th>
							<th>User</th>
							<th>Request</th>
							<th class="text-right">Actions</th>
						</thead>
						<tbody>
							<tr
								ng-repeat-start="r in ctrl.list | orderBy:ctrl.sortType:ctrl.sortReverse | startFrom:(ctrl.currentPage-1)*ctrl.numPerPage | limitTo:ctrl.numPerPage">
								<td>
									<button class="btn btn-xs btn-link" ng-if="r.expanded"
										ng-click="r.expanded = false">
										<i class="fa fa-minus"></i>
									</button>
									<button class="btn btn-xs btn-link" ng-if="!r.expanded"
										ng-click="r.expanded = true">
										<i class="fa fa-plus"></i>
									</button>
								</td>
								<td>{{r.creationTime | relativeDate}}</td>
								<td><a ui-sref="user({id: r.accountId})"><strong>{{r.givenname}}
											{{r.familyname}}</strong></a></td>
								<td>Registration request</td>
								<td class="text-right">
									<button class="btn btn-success btn-xs"
										ng-click="ctrl.approveRequest(r)" name="btn_approve"
										title="Approve request">
										<i class="glyphicon glyphicon-ok-sign"></i> Approve
									</button>
									<button class="btn btn-danger btn-xs"
										ng-click="ctrl.rejectRequest(r)" name="btn_reject"
										title="Reject request">
										<i class="fa fa-times"></i> Reject
									</button>
								</td>
							</tr>
							<tr ng-if="r.expanded" ng-repeat-end="">
								<td colspan="5" class="bg-info">

									<div class="row">
										<label class="control-label col-sm-2" for="time_{{$index}}">Created
											at</label> <span class="col-sm-10" id="time_{{$index}}">{{r.creationTime
											| date:'dd/MM/yyyy HH:mm:ss'}}</span>
									</div>
									<div class="row">
										<label class="control-label col-sm-2" for="status_{{$index}}">Current
											Status</label> <span class="col-sm-10" id="status_{{$index}}">{{r.status}}</span>
									</div>
									<div class="row">
										<label class="control-label col-sm-2" for="name_{{$index}}">Name</label>
										<span class="col-sm-10" id="name_{{$index}}">{{r.givenname}}
											{{r.familyname}}</span>
									</div>
									<div class="row">
										<label class="control-label col-sm-2"
											for="username_{{$index}}">Username</label> <span
											class="col-sm-10" id="username_{{$index}}">{{r.username}}</span><br />
									</div>
									<div class="row">
										<label class="control-label col-sm-2" for="email_{{$index}}">E-mail</label>
										<span class="col-sm-10" id="email_{{$index}}">{{r.email}}</span><br />
									</div>
									<div class="row">
										<label class="control-label col-sm-2" for="notes_{{$index}}">Notes</label>
										<span class="col-sm-10" id="notes_{{$index}}">{{r.notes}}</span><br />
									</div>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th></th>
								<th>Created at</th>
								<th>User</th>
								<th>Request</th>
								<th class="text-right">Actions</th>
							</tr>
						</tfoot>
					</table>
					<div class="text-center">
						<ul uib-pagination ng-model="ctrl.currentPage"
							items-per-page="ctrl.numPerPage" total-items="ctrl.list.length"
							max-size="10" boundary-links="true"></ul>
					</div>

				</div>
				<div class="box-footer">
				</div>
			</div> <!-- end of box -->
		</div> <!-- end of col-xs-12 -->
	</div> <!-- end of row -->

</section>